SECRET_KEY=LITTLE_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=key_1
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=Key_2
CORS_ORIGIN_WHITELIST=http://localhost:8080