Django==3.0.8
dj-database-url==0.5.0
django-extensions==3.0.2
django-test-without-migrations==0.6
djangorestframework==3.11.0
gunicorn==20.0.4
psycopg2==2.8.5
python-decouple==3.3
django-rest-framework-social-oauth2==1.1.0
django-heroku==0.3.1
django-cors-headers==3.4.0